.details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    padding: 0px;
    position: relative;
}
.details-container img {
  width: 100%;       /* make it span full width */
  height: auto;      /* keep aspect ratio */
  object-fit: cover; /* makes sure the image fills nicely */
  margin: 0;         /* no margin above */
  display: block;    /* removes inline spacing */
}
.details-container img {
  width: 100%;
  height: 250px;   /* adjust height as you like */
  object-fit: cover;
}

.nav-links {
    display: flex;
    gap: 10px;
}

.nav-links {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.link {
  text-decoration: none;
  color: inherit;
}

.link.active {
  color: orange;
  font-weight: bold;
}

#top-image {
  margin-top: -8px;
  width: 100vw;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

#title {
  margin-left: -50px;
  margin-bottom: 50px;
}

.back-btn {
  position: absolute;
  top: 10px;
  left: 10px;
  color: white;
  z-index: 10;
  text-decoration: none;
  background: rgba(0, 0, 0, 0.4);
  padding: 6px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#delete-btn {
  border-radius: 5px;
  height: 30px;
  width: 100px;
  margin-top: 40px;
}

#delete-btn:hover {
  background-color: red;
  cursor: pointer;
}